pipeline/Pipeline de dados.json
{
	"name": "Pipeline de dados",
	"properties": {
		"activities": [
			{
				"name": "Insercao de dados",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Collections",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.collection}"
								},
								{
									"name": "Destination",
									"value": "landing-zone//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "MongoDbAtlasSource",
									"batchSize": 100
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_8mp",
									"type": "DatasetReference",
									"parameters": {
										"cw_collection": "@item().source.collection"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_8mp",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Camada Bronze",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Insercao de dados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "bronze",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Camada Silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Camada Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "silver",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Camada Gold",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Camada Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "gold",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"collection": "customers"
						},
						"destination": {
							"fileName": "customers.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['customerId']"
										},
										"sink": {
											"name": "customerId"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['address']"
										},
										"sink": {
											"name": "address"
										}
									},
									{
										"source": {
											"path": "$['email']"
										},
										"sink": {
											"name": "email"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "departmentProducts"
						},
						"destination": {
							"fileName": "departmentProducts.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['departmentProductId']"
										},
										"sink": {
											"name": "departmentProductId"
										}
									},
									{
										"source": {
											"path": "$['departmentId']"
										},
										"sink": {
											"name": "departmentId"
										}
									},
									{
										"source": {
											"path": "$['productId']"
										},
										"sink": {
											"name": "productId"
										}
									},
									{
										"source": {
											"path": "$['costPrice']['$numberDouble']"
										},
										"sink": {
											"name": "costPrice_$numberDouble",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['sellingPrice']['$numberDouble']"
										},
										"sink": {
											"name": "sellingPrice_$numberDouble",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['stockQuantity']['$numberInt']"
										},
										"sink": {
											"name": "$numberInt",
											"type": "Int32"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "departments"
						},
						"destination": {
							"fileName": "departments.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['departmentId']"
										},
										"sink": {
											"name": "departmentId"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['location']"
										},
										"sink": {
											"name": "location"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "employees"
						},
						"destination": {
							"fileName": "employees.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "$['position']"
										},
										"sink": {
											"name": "position"
										}
									},
									{
										"source": {
											"path": "$['createdAt']"
										},
										"sink": {
											"name": "createdAt"
										}
									},
									{
										"source": {
											"path": "$['salary']['$numberDouble']"
										},
										"sink": {
											"name": "$numberDouble"
										}
									},
									{
										"source": {
											"path": "$['departmentId']"
										},
										"sink": {
											"name": "departmentId"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "orderItems"
						},
						"destination": {
							"fileName": "orderItems.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['itemId']"
										},
										"sink": {
											"name": "itemId"
										}
									},
									{
										"source": {
											"path": "$['orderId']"
										},
										"sink": {
											"name": "orderId"
										}
									},
									{
										"source": {
											"path": "$['productId']"
										},
										"sink": {
											"name": "productId"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName"
										}
									},
									{
										"source": {
											"path": "$['quantity']['$numberInt']"
										},
										"sink": {
											"name": "quantity_$numberInt",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']['$numberDouble']"
										},
										"sink": {
											"name": "unitPrice_$numberDouble",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']['$numberInt']"
										},
										"sink": {
											"name": "unitPrice_$numberInt",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['totalPrice']['$numberDouble']"
										},
										"sink": {
											"name": "totalPrice_$numberDouble",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['totalPrice']['$numberInt']"
										},
										"sink": {
											"name": "totalPrice_$numberInt",
											"type": "Int32"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "orders"
						},
						"destination": {
							"fileName": "orders.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid"
										}
									},
									{
										"source": {
											"path": "$['orderId']"
										},
										"sink": {
											"name": "orderId"
										}
									},
									{
										"source": {
											"path": "$['customerId']"
										},
										"sink": {
											"name": "customerId"
										}
									},
									{
										"source": {
											"path": "$['createdAt']"
										},
										"sink": {
											"name": "createdAt"
										}
									},
									{
										"source": {
											"path": "$['total']['$numberInt']"
										},
										"sink": {
											"name": "$numberInt",
											"type": "Double"
										}
									}
								]
							}
						}
					},
					{
						"source": {
							"collection": "products"
						},
						"destination": {
							"fileName": "products.parquet"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']['$oid']"
										},
										"sink": {
											"name": "$oid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productId']"
										},
										"sink": {
											"name": "productId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['description']"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									}
								]
							}
						}
					}
				]
			}
		},
		"annotations": []
	}
}